<div class="col-sm-3 col-md-3">
	<div class="image"></div>
	<div class="title"></div>
</div>
<div class="col-sm-3 col-md-3">
	<div class="image"></div>
	<div class="title"></div>
</div>
<div class="col-sm-3 col-md-3">
	<div class="image"></div>
	<div class="title"></div>
</div>
<div class="col-sm-3 col-md-3">
	<div class="image"></div>
	<div class="title"></div>
</div>
<div class="col-sm-3 col-md-3">
	<div class="image"></div>
	<div class="title"></div>
</div>
<div class="col-sm-3 col-md-3">
	<div class="image"></div>
	<div class="title"></div>
</div>
<div class="col-sm-3 col-md-3">
	<div class="image"></div>
	<div class="title"></div>
</div>
<div class="col-sm-3 col-md-3">
	<div class="image"></div>
	<div class="title"></div>
</div>